#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateRoleMasterInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateRoleMasterInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE RoleMaster SET $update WHERE id=$ctx.args.updateRoleMasterInput.id", "SELECT * FROM RoleMaster WHERE id=$ctx.args.updateRoleMasterInput.id"]
}