#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateServiceMasterInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateServiceMasterInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE ServiceMaster SET $update WHERE id=$ctx.args.updateServiceMasterInput.id", "SELECT * FROM ServiceMaster WHERE id=$ctx.args.updateServiceMasterInput.id"]
}