#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createRolePermissionMappingInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createRolePermissionMappingInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO RolePermissionMapping $colStr VALUES $valStr", "SELECT * FROM RolePermissionMapping WHERE rpId=LAST_INSERT_ID()"]
}