#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateSupportMasterInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateSupportMasterInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE SupportMaster SET $update WHERE id=$ctx.args.updateSupportMasterInput.id", "SELECT * FROM SupportMaster WHERE id=$ctx.args.updateSupportMasterInput.id"]
}