#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateOrderMasterAuditInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateOrderMasterAuditInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE OrderMasterAudit SET $update WHERE auditId=$ctx.args.updateOrderMasterAuditInput.auditId}", "SELECT * FROM OrderMasterAudit WHERE auditId=$ctx.args.updateOrderMasterAuditInput.auditId"]
}