#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createPlaceImagesInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createPlaceImagesInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO PlaceImages $colStr VALUES $valStr", "SELECT * FROM PlaceImages WHERE id=LAST_INSERT_ID()"]
}