#set( $updateList = {} )
#foreach( $entry in $ctx.args.updatePackageCategoryMasterAuditInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updatePackageCategoryMasterAuditInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE PackageCategoryMasterAudit SET $update WHERE auditId=$ctx.args.updatePackageCategoryMasterAuditInput.auditId}", "SELECT * FROM PackageCategoryMasterAudit WHERE auditId=$ctx.args.updatePackageCategoryMasterAuditInput.auditId"]
}