#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createRolePermissionMappingAuditInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createRolePermissionMappingAuditInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO RolePermissionMappingAudit $colStr VALUES $valStr", "SELECT * FROM RolePermissionMappingAudit WHERE auditId=$ctx.args.createRolePermissionMappingAuditInput.auditId"]
}