#set( $updateList = {} )
#foreach( $entry in $ctx.args.updatePackagePlaceMappingAuditInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updatePackagePlaceMappingAuditInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE PackagePlaceMappingAudit SET $update WHERE auditId=$ctx.args.updatePackagePlaceMappingAuditInput.auditId}", "SELECT * FROM PackagePlaceMappingAudit WHERE auditId=$ctx.args.updatePackagePlaceMappingAuditInput.auditId"]
}