#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateDiscountMasterInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateDiscountMasterInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE DiscountMaster SET $update WHERE id=$ctx.args.updateDiscountMasterInput.id", "SELECT * FROM DiscountMaster WHERE id=$ctx.args.updateDiscountMasterInput.id"]
}